.jd-bio {
  margin: 0 auto;
  width: 250px;

  .jd-b-work {
    margin-bottom: 45px;
    position: relative;

    a::after {
      border-top: 1px solid #000;
      bottom: -2.2px;
      content: "";
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  .jd-b-links {
    padding-bottom: 30px;
  }

  .jd-b-link {
    display: inline-block;
    height: 20px;
    width: 20px;

    &:not(:last-child) {
      margin-right: 15px;
    }

    &__icon {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  .jd-b-github {
    background-image: url("/dist/images/github.png");
  }

  .jd-b-linkedin {
    background-image: url("/dist/images/linkedin.png");
  }
}
