.jd-content {
  left: 50%;
  top: 50%;
  margin: 0 auto;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 65%;
  max-width: 260px;

  @media screen and (min-width: 737px) {
    height: 75%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
