.jd-header {
  margin-bottom: 45px;
  position: relative;

  .jd-h-image {
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    opacity: 0;
    width: 70px;
  }

  h1 {

    &::after {
      border-bottom: 2px solid #000;
      bottom: -25px;
      content: "";
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 50px;
    }
  }
}
