@import "libs/reset-styles";

@import "partials/typography";
@import "partials/animations";

@import "components/header";
@import "components/content";
@import "components/bio";
@import "components/page-overlay";

$millenial-pink: #EFD1C6;

body {
	background: $millenial-pink;
	font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
}
